.NavBar{
    position: fixed;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  
    box-shadow: 0 5px 20px -15px black;
    backdrop-filter: blur(10px); 
    margin-bottom: 20px;
    height: 90px;
  }
  
  .NavBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
  }
  
  .NavBar .li{
    margin-right: 40px;
    cursor: pointer;
  }
  
  .navLogo{
    margin-left: 40px;
  }